table,
        thead,
        tr,
        td {
            border-collapse: collapse;
            border: 1px solid black;
            padding: 10px;
        }
        p
        {
            text-align: center;
            font-weight: bold;
        }